@model LMS.Models.SCustomer
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@section TitleSection{
    SCustomerDEdit
}
@section HeaderSection{

}
@section ContentBody{
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb">
                <a href="#" title="返回首页" class="tip-bottom"><i class="icon-home"></i>首页</a>
                <a href="#">客户情况</a>
                <a href="#">收货人信息</a>
                <a href="#" class="current">编辑</a>
            </div>
            <h1>用户列表</h1><hr />
        </div>
        <div class="container">
            <h2>编辑</h2>
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(model => model.SCustoID)
                <dl>
                    <dt>收货人编号：</dt>
                    <dd>@Html.DisplayFor(model => model.SCustoID)</dd>

                    <dt><br />货人姓名：</dt>
                    <dd>@Html.EditorFor(model => model.SCustoName)</dd>

                    <dt><br />收货人电话：</dt>
                    <dd>@Html.EditorFor(model => model.SCustoTel)</dd>
                </dl>
                <div>
                    <input type="submit" value="保存" class="btn btn-default" />@Html.ActionLink("返回首页", "SCustomerList")
                </div>
            }
        </div>
    </div>
}

