@model PagedList.IPagedList<LMS.Models.SCustomer>
@using PagedList.Mvc
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@section TitleSection{
    SCustomerList
}
@section HeaderSection{

}
@section ContentBody{
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb">
                <a href="#" title="返回首页" class="tip-bottom"><i class="icon-home"></i>首页</a>
                <a href="#">客户情况</a>
                <a href="#">收货人信息</a>
                <a href="#" class="current">发货人列表</a>
            </div>
            <h1>用户列表</h1><hr />
        </div>
        <div class="container">
            @using (Html.BeginForm())
            {
                <p>
                    请输入您要搜索的姓名 ： @Html.TextBox("Search")
                    <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
                </p>
            }
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>收货人信息表</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered data-table">
                        <thead>
                            <tr>
                                <th>收货人编号</th>
                                <th>收货人姓名</th>
                                <th>收货人电话</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (LMS.Models.SCustomer item in Model)
                            {
                                <tr>
                                    <td>@item.SCustoID</td>
                                    <td>@item.SCustoName</td>
                                    <td>@item.SCustoTel</td>
                                    <td>@Html.ActionLink("详情", "SCustomerDetail", new { id = item.SCustoID })</td>
                                    <td>@Html.ActionLink("编辑", "SCustomerEdit", new { id = item.SCustoID })</td>
                                    <td>@Html.ActionLink("删除", "SCustomerDelete", new { id = item.SCustoID })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div>
                        每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
                        @Html.PagedListPager(Model, page => Url.Action("IndexUser1", new { page }))
                    </div>
                </div>
            </div>
        </div>
    </div>
}
