@model LMS.Models.Car
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@section TitleSection{
    AdminDelete
}
@section HeaderSection{

}
@section ContentBody{
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb">
                <a href="#" title="返回首页" class="tip-bottom"><i class="icon-home"></i>首页</a>
                <a href="#">车辆情况</a>
                <a href="#">车辆列表</a>
                <a href="#" class="current">删除</a>
            </div>
            <h1>用户列表</h1><hr />
        </div>
        <div class="body-content container">
            <h2>确定删除以下信息吗？</h2>
            <dl>
                <dt>车辆编号：</dt>
                <dd>@Html.DisplayFor(model => model.CarID)</dd>

                <dt><br />车牌号：</dt>
                <dd>@Html.DisplayFor(model => model.CarNo)</dd>

                <dt><br />驾驶员：</dt>
                <dd>@Html.DisplayFor(model => model.CarDiver)</dd>

                <dt><br />车辆路线：</dt>
                <dd>@Html.DisplayFor(model => model.CarAddress)</dd>

                <dt><br />车辆类型：</dt>
                <dd>@Html.DisplayFor(model => model.CarType)</dd>
            </dl>
            @using (Html.BeginForm())
            {
                <div>
                    <input type="submit" value="删除" class="btn btn-default" />
                    @Html.ActionLink("返回首页", "CarList")
                </div>
            }
        </div>
    </div>
}

