@model PagedList.IPagedList<LMS.Models.Car>
@using PagedList.Mvc
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@section TitleSection{
    CarList
}
@section HeaderSection{

}
@section ContentBody{
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb">
                <a href="#" title="返回首页" class="tip-bottom"><i class="icon-home"></i>首页</a>
                <a href="#">车辆情况</a>
                <a href="#" class="current">车辆列表</a>
            </div>
            <h1>车辆信息表</h1><hr />
        </div>
        <div class="container">
            @using (Html.BeginForm())
            {
                <p>
                    请输入您要搜索的驾驶员姓名 ： @Html.TextBox("Search")
                    <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
                </p>
            }
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>车辆列表</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered data-table">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>车牌号</th>
                                <th>驾驶员</th>
                                <th>车类型</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (LMS.Models.Car item in Model)
                            {
                                <tr>
                                    <td>@item.CarID</td>
                                    <td>@item.CarNo</td>
                                    <td>@item.CarDiver</td>
                                    <td>@item.CarType</td>
                                    <td>@Html.ActionLink("详情", "CarDetail", new { id = item.CarID })</td>
                                    <td>@Html.ActionLink("编辑", "CarEdit", new { id = item.CarID })</td>
                                    <td>@Html.ActionLink("删除", "CarDelete", new { id = item.CarID })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div>
                        每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
                        @Html.PagedListPager(Model, page => Url.Action("IndexUser1", new { page }))
                    </div>
                </div>
            </div>
        </div></div>
}
